<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
    <add name='DaZhongDataBaseConn' connectionString='Data Source=192.168.0.111\Sql2008;Initial Catalog=DEV_DaZhong_TransportAtion;Persist Security Info=True;User ID=sa;Password=landa' providerName='System.Data.SqlClient'/>
  </connectionStrings>-->
  <appSettings>
    <add key="DaZhongDataBaseConn" value="server=DESKTOP-25QQ3NK;user id=sa;password=123456;database=DEV_DaZhong_TransportAtion"/>
    <!--<add key="DaZhongDataBaseConn" value="Data Source=.;Initial Catalog=DEV_DaZhong_TransportAtion_Customer;Persist Security Info=True;User ID=sa;Password=123456"/>-->
    <!--公司企业号CorpId-->
    <!--<add key="WeChatCorpID" value="wx7d067c4f9c8e925a"/>-->
    <add key="WeChatCorpID" value="wx4f0e5e787888e2bd"/>
    <!--公司企业号Secret-->
    <!--<add key="WeChatSecret" value="I4Ser4wA-ym74omm73Jt8SHT_J1GIc0fUoXUh8bFtKribIgHjNrr3_QzEp2L9rlc"/>-->
    <add key="WeChatSecret" value="vqD1D9dQYq2VEkbFHDNNmacL90THqAXh3fVH2tYl19c"/>
    <!--企业支付Secret-->
    <add key="PaymentSecret" value="SOgI3b3nK9UrVUX885qTTskh-0LDWOfsmdfBeewM218"/>
    <!--极光短信用户ID-->
    <add key="SMSAppKey" value="7f8ce908e0d34306a364461d"/>
    <!--极光短信用户密码-->
    <add key="MasterSecret" value="dee8b7350138814950abf07f"/>
    <!--极光短信营收模板ID-->
    <add key="Revenue_Temp_ID" value="80784"/>
    <!--极光短信通知模板ID-->
    <add key="Notification_Temp_ID" value="10434"/>
    <!--外网访问地址（不同种类推送）-->
    <add key="OpenHttpAddress" value="http://27.115.8.222:18549"/>
    <!--微信企业号部门ID-->
    <!--<add key="WeChatAgentID" value="1"/>-->
    <add key="WeChatAgentID" value="10"/>

    <!--商户的API密钥-->
    <add key="APIKey" value="UHMpQkknVcUV66fIXKTzz5dSc3XOOy5v" />
    <!--商户id号-->
    <add key="MCHID" value="1471348702" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
